.hlfr-sprite{background-image:url("/_img/sprite-hlfr.png");background-repeat:no-repeat;display:inline-block;vertical-align:middle;overflow:hidden}
.news-logo-etf2l{width:16px;height:16px;background-position:0 0}
.news-logo-tf2com{width:16px;height:16px;background-position:-16px 0}
.news-logo-tftv{width:16px;height:16px;background-position:-32px 0}
.flag-fr{width:20px;height:13px;background-position:-48px 0}
.flag-be{width:16px;height:14px;background-position:-68px 0}
.flag-eu{width:20px;height:13px;background-position:-84px 0}
.flag-lu{width:20px;height:12px;background-position:-104px 0}
.flag-sw{width:20px;height:13px;background-position:-124px 0}
.flag-uk{width:19px;height:13px;background-position:-144px 0}
.flag-ca{width:20px;height:10px;background-position:-163px 0}
.flag-al{width:20px;height:13px;background-position:-183px 0}
.flag-mo{width:20px;height:13px;background-position:-203px 0}
.flag-tu{width:20px;height:13px;background-position:-223px 0}
.flag-breizh{width:20px;height:13px;background-position:-243px 0}
.flag-unknown{width:20px;height:13px;background-position:-263px 0}
